
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.icon_wrapper {
  text-align: center;
  padding: 40px;
}

.material-icons {
  cursor: pointer;
}

.container {
  display: flex;
  flex-wrap: wrap;
  padding: 0 50px;
  max-width: 1300px;
  margin: 0 auto;
}

.shopCard {
  flex: 0 0 300px;
  margin-right: 90px;
  margin-bottom: 30px;
  min-height: 310px;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px;
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0px 7px 10px grey;;
}

.shopCard__info {
  display: flex;
  flex-direction: column;
}

.shopCard__inner {
  display: flex;
  justify-content: space-around;
  color: red;
}

.shopCard__price::before {
  content: '$';
}

.shopCard__button {
  padding: 5px 10px;
  border-radius: 20px;
  background: transparent;
  border: 1px solid red;
  color: red;
}

.shopItem {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-height: 100px;
  align-items: center;
  margin-bottom: 10px;
  padding: 10px;
  background: #F5F5F5;
}

.shopItem__img {
  width: 100px;
}
